<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Panier de courses</ion-title>
    <ion-button color="danger" 
                (click)="removeAll()" 
                *ngIf="articles?.length"
                slot="end"
                size="small"
                class="padding-right">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">nom de l'article</ion-label>
    <ion-input [(ngModel)]="newArticle"></ion-input>
    <ion-button color="tertiary" 
                fill="outline"
                size="medium"
                slot="end"
                (click)="add()"
                [disabled]="!newArticle?.trim()">+</ion-button>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let item of articles"
              (click)="displayActions(item)">
      <span>{{ item.name }}</span>
      <ion-icon name="checkmark-circle"
                color="success"
                slot="end"
                *ngIf="item.isChecked"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
