<ion-header>
  <ion-toolbar>
    <ion-icon class="padding-left" name="arrow-back" slot="start" (click)="back()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="hero">
  <img class="image" [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension">
  <p>{{hero.name}}</p>
  <p>{{hero.description}}</p>
  <ul>
    <li *ngFor="let item of hero.comics.items">
      {{ item.name }}
    </li>
  </ul>
</ion-content>